apiVersion: v1
kind: PersistentVolume
metadata:
  name: postgres-pv
  namespace: infra-kata
  labels:
    type: local
    app: postgres
spec:
  storageClassName: manual
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/data/postgres"