apiVersion: v1
kind: Service
metadata:
  name: swagger
  namespace: infra-kata
  labels:
    app: swagger
spec:
  selector:
    app: swagger
  ports:
    - protocol: TCP
      port: 3002
      targetPort: 3002
  type: ClusterIP