version: '3.8'

services:
  migration-service:
    build: ./migration-service
    container_name: migration-service
    depends_on:
      - postgres
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USERNAME=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=kata_db
    networks:
      - app-network

  postgres:
    image: postgres:13
    container_name: postgres-db
    environment:
      - POSTGRES_DB=kata_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge